.wrapper {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 6% 1fr;
}

.header {
  grid-column: span 8;
  height: 48px;
  background-color: rgb(64 104 214 / 99%);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: 999;
  box-shadow: 0 0 10px 3px rgb(95, 91, 91);
}

.header__user {
  position: relative;
  background-color: rgb(204 204 204);
}

.header__user__profile {
  padding-right: 0.5rem;

  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 0.3rem;
  height: 100%;
}

.header__user__menu {
  overflow: hidden;
  width: 100%;
  top: 100%;
  background-color: rgb(204 204 204);
  z-index: 100;
  box-shadow: 0 5px 9px 1px rgb(95, 91, 91);
}

.header__user__menu > p:hover {
  cursor: pointer;
}

.wrapper__content__container {
  grid-column: span 8;
  position: relative;
  display: flex;
  flex-direction: row;
}

.content__bar {
  width: 17%;
  height: 100%;
  z-index: 10;
  position: absolute;
  max-width: 211px;
  background-color: rgb(223 223 223);
  box-shadow: 0 0 0 2000px rgb(0 0 0 / 50%);
}

.content__bar__cat {
  padding-left: 0.5rem;
  display: block;
  text-decoration: none;
  color: black;
  padding-top: 1rem;
  padding-bottom: 1rem;
  transition: 0.4s;
}

.content__bar__cat:hover {
  color: rgb(0 62 235 / 99%);
  background-color: rgb(195 202 221 / 99%);
  font-weight: 500;
}

.content__bar__cat:focus {
  color: rgb(0 62 235 / 99%);
  background-color: rgb(195 202 221 / 99%);
  font-weight: 500;
}

.content__container {
  /* padding-left: 1.5rem; */
  min-height: 90vh;
  height: 100%;
  padding: 0 10px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 7.5% repeat(auto-fit, 5.6%);

  justify-content: center;
  position: relative;
}

.content__container__category {
  grid-column: span 7;
  display: flex;
  justify-content: center;
}

.content__container__buttons {
  grid-column: -1/-3;
  display: grid;
  place-content: center;
}

.content__container__button--danger {
  background-color: red;
  padding: 0.7rem 1.2rem;
  color: white;
  border-radius: 5px;
}

.content__container__header {
  padding-bottom: 1rem;
  grid-column: span 7;
  display: grid;
  /* grid-template-columns: 6% 17% 27% 7% 6% 14% 14%; */
  column-gap: 1.5%;
  height: 100%;
}

/* .content__container__header > div:not(:first-child) {
  width: 100%;
  display: grid;
  place-items: center;
  background-color: rgb(223 223 223);
  height: 100%;
} */

.content__container__header > div > h2 {
  margin-block-start: 0;
  margin-block-end: 0;
  font-size: 1rem;
}

.content__container__pagination {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  bottom: 10px;
  right: 0;
  grid-column: span 7;
}

.content__card__container {
  grid-column: span 7;
}

/* .card__container__card {
  display: grid;
  grid-template-columns: 6% 17% 27% 7% 6% 14% 14%;
  column-gap: 1.5%;
} */

.content__card__popup__background {
  background-color: transparent;
  height: 100%;
  width: 100%;
  position: absolute;
}

.content__card__popup {
  position: fixed;
  left: 50%;
  min-width: 50%;
  width: max-content;
  max-width: 80%;
  transform: translateX(-50%);
  padding-left: 16px;
  background-color: white;
  box-shadow: 0 0 0 2000px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  padding-top: 2.5rem;
  padding-bottom: 0.8rem;
}

.content__card__popup__container {
  height: max-content;
  margin: 0 auto;
  display: flex;
  row-gap: 1.2rem;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  overflow-y: scroll;
  overflow-x: scroll;
}

.content__card__popup__container__exit {
  position: absolute;
  top: 10px;
  right: 10px;
}

.content__card__popup__container > div > h2 {
  margin-block-start: 0;
  margin-block-end: 0;
}

.content__card__popup__container > div > h4 {
  margin-block-start: 0.1rem;
  margin-block-end: 0.1rem;
}

.card__container__card {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 0.7rem;
  border: 1px solid gray;
  border-radius: 50px;
  color: black;
  padding: 0.5rem 1.2rem;
  background-color: rgb(255, 255, 255);
}

.card__container__card > div:first-child {
  grid-column: span 4;
}

/* .card__container__card > div {
  display: flex;
  align-items: center;
  justify-content: start;
  padding-left: 0.1rem;
  height: 2rem;
  overflow: hidden;
} */

.card__container__card > div {
  display: flex;
  flex-direction: column;
  row-gap: 0.3rem;
}

.card__container__card > div > p {
  color: rgb(173, 172, 172);
  margin-block-end: 0;
  margin-block-start: 0;
}

.paginationBttns {
  height: 10px;
  list-style: none;
  display: flex;
  justify-content: center;
}

.paginationBttns a {
  padding: 7px;
  margin: 6px;
  border-radius: 5px;
  border: 1px solid #2b2eff;
  color: #2b2eff;
  cursor: pointer;
}

.paginationBttns a:hover {
  color: rgb(0 62 235 / 99%);
  background-color: rgb(195 202 221 / 99%);
}

.paginationActive a {
  color: rgb(0 62 235 / 99%);
  background-color: rgb(195 202 221 / 99%);
}

.paginationDisabled a {
  color: grey;
  background-color: grey;
}

.button {
  display: flex;
  width: 10%;
  margin: 1rem;
  align-self: center;
  padding-left: 1rem;
  padding-top: 0.5rem;
  margin-top: 1%;
  font-size: 1.5rem;
  overflow-y: hidden;
  border: 1px solid rgb(247, 224, 224);
  height: 5vh;
  font-weight: bold;
  font-family: Georgia, "Times New Roman", Times, serif;
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1),
    0 0 0 0.1px rgb(255, 255, 255), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}
.button:hover {
  transform: scale(1.2);
  transition: 1s;
}

.list-transition-enter {
  /*We give the list the initial dimension of the list button*/
  top: 0;
  width: 100%;
  color: transparent;
  position: absolute;
  z-index: -1;
}
/* This is where we can add the transition*/
.list-transition-enter-active {
  top: 100%;
  width: 100%;
  transition: all 400ms;
  z-index: -1;
}
/* This fires as soon as the this.state.showList is false */
.list-transition-exit {
  top: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
}
/* fires as element leaves the DOM*/
.list-transition-exit-active {
  top: 0;
  width: 100%;
  transition: all 400ms;
  z-index: -1;
}

/**/

.side-bar-transition-enter {
  /*We give the list the initial dimension of the list button*/
  left: -150%;
  position: absolute;
  color: transparent;
}
/* This is where we can add the transition*/
.side-bar-transition-enter-active {
  left: 0;
  position: absolute;
  transition: all 400ms;
}
/* This fires as soon as the this.state.showList is false */
.side-bar-transition-exit {
  left: 0;
  position: absolute;
}
/* fires as element leaves the DOM*/
.side-bar-transition-exit-active {
  left: -150%;
  position: absolute;
  transition: all 400ms;
}

@media (min-width: 1000px) {
  .wrapper {
    display: grid;
    grid-template-rows: 7% 1fr;
  }
  .header {
    justify-content: flex-end;
    height: auto;
  }
  .content__bar {
    position: relative;
    box-shadow: 0 0 10px 3px rgb(95, 91, 91);
  }
}

@media (min-width: 400px) {
  .content__container {
    grid-template-rows: 7.5% 7.5% 8% repeat(auto-fit, 5.6%);
    row-gap: 0.5rem;
  }

  .card__container__card {
    grid-template-columns: 6% repeat(6, 1fr);
    border: 0;
    background-color: inherit;
  }

  .card__container__card > div {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 0.1rem;
    height: 2rem;
    overflow: hidden;
  }

  .card__container__card > div:first-child {
    grid-column: span 1;
  }

  .content__container__header {
    padding-left: 7%;
    grid-template-columns: 16% 23% 9% 8% 17% 17%;
  }

  .card__container__card {
    display: grid;
    grid-template-columns: 6% 15% 22% 8% 8% 16% 16%;
    column-gap: 1.5%;
    justify-content: center;
    padding-left: 0rem;
  }

  .content__container__header > div {
    width: 100%;
    display: grid;
    place-items: center;
    background-color: rgb(223 223 223);
    height: 100%;
    overflow: hidden;
  }
}
