.wrapper {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 10% 1fr;
}

.header {
  padding: 0 0.5rem;
  grid-column: span 8;
  background-color: rgb(177, 168, 168);
  display: flex;
  flex-direction: row;
  justify-content:flex-end;
}



.content__bar {
  padding-left: 0.5rem;
  grid-column: 1;
  background-color: rgb(88, 88, 134);
}

.content__bar__cat {
  color: white;
  padding: 1rem 0;
}

.content__container {
  padding-left: 1.5rem;
  grid-column: span 7;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 15% 10% repeat(auto-fit, 6.4%);
  justify-content: center;
  column-gap: 0.5rem;
  row-gap: 0.5rem;
}

.content__container__category {
  grid-column: span 7;
  display: flex;
  justify-content: center;
}

.content__container__header {
  padding-left: 3%;
  padding-bottom: 1rem;
  grid-column: span 7;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  column-gap: 0.4rem;
  height: 100%;
}

.content__container__header > div {
  width: 100%;
  display: grid;
  place-items: center;
  background-color: rgb(214, 213, 213);
  height: 100%;
}

.content__container__header > div > h2 {
  margin-block-start: 0;
  margin-block-end: 0;
}

.content__card__container {
  grid-column: span 7;
}

.card__container__card {
  display: grid;
  grid-template-columns: 3% repeat(6, 1fr);
}

.card__container__card > div {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 0.5rem;
  height: 2rem;
}


button {
  display: flex;
  width: 10%;
  margin: 1rem;
  align-self: center;
  padding-left: 1rem;
  padding-top: 0.5rem;
  margin-top: 1%;
  font-size: 1.5rem;
  overflow-y: hidden;
  border: 1px solid rgb(247, 224, 224);
  height: 5vh;
  font-weight: bold;
  font-family: Georgia, "Times New Roman", Times, serif;
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1),
    0 0 0 0.1px rgb(255, 255, 255), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}
button:hover {
  transform: scale(1.2);
  transition: 1s;
}


