.wrapper {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 10% 1fr;
}

.header {
  padding: 0 0.5rem;
  grid-column: span 8;
  background-color: red;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header__user {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header__user__icon {
  padding-left: 0.4rem;
}

.content__bar {
  padding-left: 0.5rem;
  grid-column: 1;
  background-color: blue;
}

.content__bar__cat {
  color: white;
  padding: 1rem 0;
}

.content__container {
  padding-left: 1.5rem;
  grid-column: span 7;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 7.5% 7.5% 10% repeat(auto-fit, 5.6%);
  justify-content: center;
  column-gap: 0.5rem;
  row-gap: 0.5rem;
  position: relative;
  padding-bottom: 4rem;
}

.content__container__category {
  grid-column: span 7;
  display: flex;
  justify-content: center;
}

.content__container__buttons {
  grid-column: -1/-2;
  display: grid;
  place-content: center;
}

.content__container__button--danger {
  background-color: red;
  padding: 0.7rem 1.2rem;
  color: white;
  border-radius: 5px;
}

.content__container__header {
  padding-left: 3%;
  padding-bottom: 1rem;
  grid-column: span 7;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  column-gap: 0.4rem;
  height: 100%;
}

.content__container__header > div {
  width: 100%;
  display: grid;
  place-items: center;
  background-color: rgb(214, 213, 213);
  height: 100%;
}

.content__container__header > div > h2 {
  margin-block-start: 0;
  margin-block-end: 0;
}

.content__card__container {
  grid-column: span 7;
}

.card__container__card {
  display: grid;
  grid-template-columns: 3% repeat(6, 1fr);
}

.card__container__card > div {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 0.5rem;
  height: 2rem;
}

.paginationBttns {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 20px;
  list-style: none;
  display: flex;
  justify-content: center;
  grid-column: -1/-4;
}

.paginationBttns a {
  padding: 10px;
  margin: 8px;
  border-radius: 5px;
  border: 1px solid #2b2eff;
  color: #2b2eff;
  cursor: pointer;
}

.paginationBttns a:hover {
  color: white;
  background-color: #2b2eff;
}

.paginationActive a {
  color: white;
  background-color: #2b2eff;
}

.paginationDisabled a {
  color: grey;
  background-color: grey;
}
